.main {
	padding: 10px;
	color: #000000;
	min-height: 350px;
	background-color: #fff;
	background-color: rgba(255, 255, 255, 0.9);
	background-image: url(images/bg_double_e.png);
	background-position: 20px 20px;
	background-repeat: no-repeat;
	margin: 10px 10px 0 0;
}

.main .image-wrapper {
	@include transition(  all .7s linear );
	padding: 6px;
	background: #fff;
	display: block;
	margin: 20px;
	box-shadow: 3px 3px 12px #666;
	img {
		max-width: 100%;
	}
}

.main .page header h2{
	position: absolute;
	top: -100%;
}