footer{
	nav.nav-footer {
		line-height: 30px;
		width: 100%;
		.navbar-inner {
			text-align: center;
			ul {
				display: inline-block;
				margin: 0 auto;
				li {
					font-family: 'dinregular', 'arial';
					text-decoration: none;
					font-size: 13px;
					color: #ffffff;
					text-transform: uppercase;
					margin: 0 12px;
					float: left;
					a {
						color: #ffffff;
						&:hover{
							color: #666;
							text-shadow: 0 0 5px #fff;
						}
					}
				}			
			}
		}
	}
}

@media only screen and (max-width : 480px) {
footer{
	nav.nav-footer {
		.navbar-inner {
			ul {
				li {
					float: none;
				}			
			}
		}
	}
}

}