$pad: 20px;

.grid {
  margin: 0 0 $pad 0;
  width: 100%;

  &:after {
    /* Or @extend clearfix */
    content: "";
    display: table;
    clear: both;
  }
}

[class*='grid-'] {
	float: left;
	margin-right: $pad;
	min-height: 20px;
	position: relative;
	.grid &:last-of-type {
		margin-right: 0;
		&.grid-2-12 {
			width: calc( 200% / 12 );
		}
		&.grid-3-12 {
			width: 25%;
		}
		&.grid-4-12 {
		  	width: calc( 100% / 3 );
		}
		&.grid-6-12 {
			width: 50%;
		}
		&.grid-8-12 {
			width: calc( 800% / 12 );
		}
	}
}
.grid-2-12 {
	width: calc( ( 200% / 12 ) - #{$pad} );
}
.grid-3-12 {
	width: calc( 25% - #{$pad} );
}
.grid-4-12 {
  	width: calc( ( 100% / 3 ) - #{$pad} );
}
.grid-6-12 {
	width: calc( 50% - #{$pad} );
}
.grid-8-12 {
	width: calc( ( 800% / 12 ) - #{$pad} );
}
.grid-9-12 {
	width: calc( ( 900% / 12 ) - #{$pad} );
}