* {
  @include box-sizing(border-box);
}

body {
  margin: 0;
  font-size: 13px;
  line-height: 18px;
  background-color: #eeeeee;
  background: url(images/bg.png) 0 0 repeat-x #0091b6;
  color: #000;
  font-family: $styled-font;
  font-size: 12px;
}
header[role=banner] h1 {
	height: 120px;
	width: 354px;
	margin: 10px auto;
	overflow: hidden;
	background: url("images/logos/peer_md.png") 0 0 no-repeat;
	text-indent: 100%;
	white-space: nowrap;
	@include breakpoint( papa-bear ) {
		margin: 60px auto 30px;
	}
}
