.message-wrapper{
	display: block;
	list-style: none;
	margin: 0;
	padding: 0;
	border: 1px solid black;
	li{
		list-style: none;
		margin: 0;
		padding: 0;
	}
}

.woocommerce-error{
	@extend .message-wrapper;
	color: red;
	border-color: red;
	padding: 4px;
	background-color: pink;
	background-color: rgba( 255, 0, 0, .3);
	li::before{
		margin-right: 3px;
		content: "\e608";
		font-family: 'peerministry';
		speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
	
		/* Better Font Rendering =========== */
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;		
	}
}