.nav-main {
	line-height: 30px;
	width: 100%;
	height: 45px;
	padding: 0;
	margin: 0 0 10px;
	text-align: center;
	a{
		text-shadow: 0 0 3px #666;
		font-family: $styled-font;
		text-decoration: none;
		font-size: 20px;
		color: #ffffff;
		text-transform: uppercase;
		-webkit-transition: all .3s;
		transition: all .3s;
		padding: 10px;
	  vertical-align: top;
    &.cart{
      color: $peer_green;
      text-shadow: 0 0 3px white;
    }
	}
	a:hover,
	a.active{
		color: #999999;
		font-size: 28px;
 		text-shadow: 0 0 3px #fff;
		padding: 4px;
	}
}