.record-viewer {
    width: 100%;
    border: 1px solid #ccc;
    border-width: 1px 0 0 1px;
    th{
    	text-align: right;
    }
    td{
    	text-align: left;
    }
}
.record-viewer td,
.record-viewer th {
    border: 1px solid #ccc;
    border-width: 0 1px 1px 0;
    width: 50%;
    padding: 4px 12px;
}