.well {
    color: #025577;
    padding: 0;
    margin-bottom: 20px;
    background-color: white;
    border: 10px solid $peer_teal;
    header,
    footer{
        background-color: tint( $peer_teal, 50% );
        color: #f15a24;
        padding: 12px 6px;
        font-size: 16px;
        font-weight: bold;
    }
    header{
        border-width: 2px 0 0;
        border-color: #f15a24;
        border-style: solid;
        &:first-child{
            border-width: 0;
        }
    }
    footer{
        border-top: 2px solid #f15a24;
    }
    &.well-nav{
        border-color: $peer_green;
        header{
            color: shade( $peer_green, 30% );
            background-color: tint( $peer_green, 60% );
            border-bottom-color: $peer_green;
        }
    }
    .well-contents{
        min-height: 20px;
        margin: 12px;
    }
    nav{
        a,
        span{
            display: block;
            font-size: 14px;
            font-weight: bold;
            line-height: 30px;
            color: $peer_blue;
        }
        a{
            color: $peer_green;
            &:hover{
                text-decoration: none;
                color: shade( $peer_blue, 30% );
            }
        }
    }
}
