/* ----------------------------------------------------------
    FONTS
   ---------------------------------------------------------- */
@font-face {
  font-family: 'dinmedium';
  src: url('fonts/dinmedium-webfont.eot');
  src: url('fonts/dinmedium-webfont.eot?#iefix') format('embedded-opentype'), 
       url('fonts/dinmedium-webfont.woff') format('woff'), 
       url('fonts/dinmedium-webfont.ttf') format('truetype'), 
       url('fonts/dinmedium-webfont.svg#dinmedium') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'dinregular';
  src: url('fonts/dinregular-webfont.eot');
  src: url('fonts/dinregular-webfont.eot?#iefix') format('embedded-opentype'), 
       url('fonts/dinregular-webfont.woff') format('woff'), 
       url('fonts/dinregular-webfont.ttf') format('truetype'), 
       url('fonts/dinregular-webfont.svg#dinregular') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OSP-DIN';
  src: url('fonts/OSP-DIN-webfont.eot');
  src: url('fonts/OSP-DIN-webfont.eot?#iefix') format('embedded-opentype'), 
       url('fonts/OSP-DIN-webfont.woff') format('woff'), 
       url('fonts/OSP-DIN-webfont.ttf') format('truetype'), 
       url('fonts/OSP-DIN-webfont.svg#OSP-DIN') format('svg');
  font-weight: normal;
  font-style: normal;
}
@font-face {
	font-family: 'peerministry';
	src:url('fonts/peerministry.eot');
	src:url('fonts/peerministry.eot?#iefix') format('embedded-opentype'),
		url('fonts/peerministry.woff') format('woff'),
		url('fonts/peerministry.ttf') format('truetype'),
		url('fonts/peerministry.svg#peerministry') format('svg');
	font-weight: normal;
	font-style: normal;
}


/* ----------------------------------------------------------
    COLORS
   ---------------------------------------------------------- */
$peer_teal:				#0091b6;
$peer_blue:				#2aace2;
$peer_orange:			#f15a24;
$peer_yellow:			#ffda19;
$peer_green:			#38b54a;

/* ----------------------------------------------------------
    VARIABLES
   ---------------------------------------------------------- */

@import "bourbon/bourbon";
@import "layout";
@import "footer";
@import "typography";
@import "nav";
@import "tabs";
@import "content";
@import "grid";
@import "wells";
@import "modal";
@import "catalog";
@import "messages";
@import "icons";

//@import "buttons";
//@import "tables";
//@import "cart";
//@import "forms";
//@import "header";
//@import "spinner";
//@import "forms";
//@import "catalog";
//@import "errors";
//@import "datagrid";
//@import "record-viewer";
//@import "wysiwyg";
//@import "breadcrumbs";

